@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font-family: var(--font-family-main);

  color: var(--primary-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  min-height: 100vh;
}

.content {
  width: 100%;
  min-height: 100vh;
}
