@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  font-family: var(--font-family-main);
  position: relative;
  color: var(--primary-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;

  display: flex;
  min-height: 100vh;
}

.content {
  width: 100%;
  min-height: 100vh;
}

*,h1, h2, h3, h4, a, p, button, input, div {
  font-family: 'Overpass', sans-serif;
}
