.Button {
    cursor: pointer;
    transition-duration: 300ms;
    width: 100%;

    &.outline {
        background: none;
        border: 1px solid var(--iverted-secondary-color);
        border-radius: 16px;
        color: var(--inverted-secondary-color);

        &:hover{
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }

    &.neon {
        color: #FFA1F5;
        background: transparent;
        border: #FFA1F5 2px solid;
        display: inline-block;
        font-weight: 600;
        text-shadow: 0 0 1em currentColor;
    }

    &:disabled{
        background-color: gray;
    }
}

.m{
    padding: 8px 16px;
}

.s{
    padding: 5px 10px;
    font-size: 15px;
}

.normal {
    border-radius: 8px;
    background: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    transition-duration: 300ms;

    &:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}
