.Avatar{
  border-radius: 50%;
  position: relative;
  object-fit: cover;
}

.ChildrenContainer {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
  font-weight: 600;
}
