.item{
  color: #6c757d;
  font-size: var(--font-size-l);
  font-weight: 700;
  transition-duration: 300ms;

  &:hover{
    color: var(--iverted-secondary-color);
    font-size: calc(var(--font-size-l) + 5px);
  }
}
