.container{
  width: 100%;
  z-index: 2;
}

.SecurityAccountForm {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .inputs_container {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .btns_container{
    display: flex;
    align-items: center;
    gap: 15px;

    .btn{
      width: fit-content;
    }
  }
}
