.Page{
  padding: 100px var(--padding-x);
  flex-grow: 1;
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  @media (max-width: 600px) {
    padding: 100px 15px;
  }

  .content_container{
    height: fit-content;
  }

  .trigger{
    height: 10px;
    margin-bottom: 10px;
  }

  .bg_img{
    content: '';
    z-index: 0;
    bottom: 0;
    width: 100%;
    scale: 1.2;
    position: absolute;
  }
}
