.Page{
  padding: 15px var(--padding-x);
  flex-grow: 1;
  height: calc(100vh - var(--havbar-height));
  overflow-y: auto;
  background-color: white;

  .content_container{
    background-color: #FFA1F5;
  }

  .trigger{
    background-color: #000814;
    height: 10px;
    margin-bottom: 10px;
  }
}
