.Event{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;

  .info_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btn_and_users{
    display: flex;
    justify-content: space-between;
  }
}
