.app_dark_theme {
  --bg-color: #000000;
  --primary-color: #ffffff;
  --secondary-color: #000814;
  --iverted-secondary-color: #e9ecef;

  //elements
  --input-bg-color: #6d6d6e;

  //colors
  --gray: rgba(51, 51, 51, 0.93);
}
