.Container {
  width: fit-content;

  .input_container{
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .btn{
    width:fit-content;
    padding-left: 15px;
    margin-top: 15px;
    padding-right: 15px;
  }
}
