.container{
  width: 30%;
  z-index: 2;

  .card{
    width: 100%;
    height: 100%;
    align-items: center;

    .photo_profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
